body, html {
  background: black;
  color: white;
}

a {
  color: #fad236;
  text-style: dotted;
}

.stage {
  background: url(./pose3.JPG);
  width: 100%;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.button {
  background-color: #5390d9;
  background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  color: black;
  border: 0px solid;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: 700;
  width: 100%;
  margin-top: 20px;
  font-family: 'Cinzel Decorative';
  cursor: pointer;
}

.input {
  border: 0px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}

.text {
  font-family: "Dancing Script", serif;
  font-size: 28px;
  font-weight: 800;
}

.fitdance {
  font-family: 'Cinzel Decorative', serif;
  font-size: 70px;
  font-weight: 800;
  background-color: #5390d9;
  background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  flex: 1;
  z-index: 2;
}


hr {
    border: 0;
    height: 1px;
    width: 80%;
    z-index: 1;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

main {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.headwrap {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.logo {
    width: 210px;
    display: inline-block;
    margin: 0 auto;
    flex: 1;
    z-index: 2;
}

.contentwrap {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {.contentwrap {flex-direction: column;}}
@media only screen and (min-width: 600px) {.contentwrap {flex-direction: column;}}
@media only screen and (min-width: 768px) {.contentwrap {flex-direction: row;}}
@media only screen and (min-width: 992px) {.contentwrap {flex-direction: row;}}
@media only screen and (min-width: 1200px) {.contentwrap {flex-direction: row;}}


.contentitemwrap {
  width: 250px;
  height: 250px;
  position: relative;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  padding: 3px;
}

@media only screen and (max-width: 600px) {.contentitemwrap {min-width: 100%;}}
@media only screen and (min-width: 600px) {.contentitemwrap {min-width: 100%;}}
@media only screen and (min-width: 768px) {.contentitemwrap {min-width: 250px;}}
@media only screen and (min-width: 992px) {.contentitemwrap {min-width: 250px;}}
@media only screen and (min-width: 1200px) {.contentitemwrap {min-width: 250px;}}

.contentitem {
  display: flex;
  height: 100%; 
  background: black;
}

footer {
  width: 60%;
  margin: 0 auto;
  font-size: 12px;
  z-index: 1;
  color: #fad236;
  position: relative;
}

.footer {
  text-align: center;
  font-family: sans-serif;
  color: white;
  margin-top: 20px;
  z-index: 1;
  padding: 10px;
  background-color: rgba(255,255,255,0.25);
}

#mc_embed_signup {
  padding: 10px;
}
