body, html {
  background: black;
  color: white;
}

a {
  color: white;
  text-style: underline;
}

.stage {
  background: url(./pose3.JPG);
  width: 100%;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  height: 300px;
}

.fitdance {
  font-family: 'Cinzel Decorative', serif;
  font-size: 70px;
  font-weight: 800;
  background-color: #5390d9;
  background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  flex: 1;
}


hr {
    border: 0;
    height: 1px;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

main {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.headwrap {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 210px;
    display: inline-block;
    margin: 0 auto;
    flex: 1;
}

.contentwrap {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contentitemwrap {
  width: 250px;
  height: 250px;
  position: relative;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  padding: 3px;
}

.contentitem {
  display: flex;
  height: 100%; 
  background: black;
}

footer {
  width: 60%;
  margin: 0 auto;
  font-size: 12px;
}

.footer {
  text-align: center;
  font-family: sans-serif;
  color: white;
  margin-top: 20px;
}
