body, html {
  background: black;
  color: white;
}

a {
  color: white;
  text-style: underline;
}

.fitdance {
  font-family: 'Dancing Script', serif;
  font-size: 128px;
  font-weight: 800;
  padding: 20px;
  background-color: #5390d9;
  background-image: linear-gradient(45deg, #6930c3, #5390d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.academy {
  font-family: sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(45deg, #5390d9, #6930c3);
}

main {
    width: 60%;
    margin: 0 auto;
}

.headwrap {
    text-align: center;
}

.contentwrap {
  padding: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.contentitemwrap {
  width: 250px;
  position: relative;
  background: linear-gradient(90deg, #6930c3, #5390d9);
  padding: 3px;
}

.contentitem {
  display: flex;
  height: 200px;
  padding: 5px;    
  background: black;
}

.footer {
  text-align: center;
  font-family: sans-serif;
  color: white;
  width: 60%;
  margin: 0 auto;
}
