body, html {
  background: black;
  color: white;
}

.fitdance {
  font-family: 'Dancing Script', serif;
  font-size: 68px;
  font-weight: 800;
  margin-right: 10px;
  background-color: #5390d9;
  background-image: linear-gradient(45deg, #6930c3, #5390d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.academy {

}

hr {
  
}

.headwrap {
  text-align: center;
}

.contentwrap{

}
